.device-details-wrapper {
  margin: 1.5rem auto 0 auto;
  width: 90%;

    .header-flex-container {
      display: flex;
      align-items: flex-start;

      .device-title {
        font-size: 3rem;
        color: #33475b;
        margin: 0.5rem;
        font-weight: bold;
      }

      .device-type-label {
        margin-top: 2.25rem;
        margin-left: 0.5rem;
        color: darkgrey;
        font-size: 1.25rem;
      }

      .back-button {
        margin: 2.25rem 0 0 auto;

        text {
          font-family: 'Wesley', sans-serif;
          font-size: 1.5rem;
        }
      }
    }
  }

  .industrial-spec-table {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: white;

    th, td {
      padding: 12px;
      border: none;
    }

    .label-cell {
      width: 80%;
      border-right: 2px solid black;
    }

    .value-cell {
      width: 20%;
    }

    tr.zebra {
      background-color: #f2f2f2;
    }

    thead .table-header-row {
      background-color: #AAA;
      th { border-right: 2px solid black; }
    }
  }

:host {
  font-family: 'Lavi', sans-serif;
}
